
<div class="card card-user">
  <div class="image">
    <img [src]="backgroundImage" alt="..."/>
  </div>
  <div class="content">
    <div class="author">
      <a>
        <img class="avatar border-gray" [src]="avatarImage" alt="..."/>

        <h4 class="title">{{ name }}<br />
          <!-- <small>{{ username }}</small> -->
          <small>{{age}} años</small>
        </h4>
      </a>
    </div>
    <p class="text-center"><a href="mailto:{{email}}">{{email}}</a></p>
    <em><p class="description text-center" [innerHtml]="address"></p></em>
    <p class="text-center" *ngIf="phone"><a href="tel:{{phone}}">Teléfono: {{phone}}</a></p>
    <p class="text-center" *ngIf="spouse_gender && spouse_gender!=='none'"><b>Conyugue:</b> {{spouse_gender == 'male'? 'Masculino':'Femenino' }} / Edad: {{spouse_age }}</p>
    <!-- <p class="text-center" *ngIf="dob">{{dob.$date | date: 'd/MM/yy'}}</p> -->
    <p class="text-center" *ngIf="dependents>0"><b>Dependientes:</b> {{dependents>=5 ? '5+': dependents}} <b> / {{dependents == 1 ? 'Edad':'Edades' }}:</b> {{dependentsAges.join(', ')}}</p>
    <p class="text-center" *ngIf="company_name==''" ><b>Maternidad </b> <i [class]="maternity? 'pe-7s-check check-success': 'pe-7s-close-circle check-success' "></i></p>
    <p class="text-center" *ngIf="company_name==''"><b>Fumador </b><i [class]="smoker? 'pe-7s-check check-success': 'pe-7s-close-circle check-success'"></i></p>
    <p class="text-center" *ngIf="company_name==''"><b>Transplante de organos </b><i [class]="transplant? 'pe-7s-check check-success': 'pe-7s-close-circle check-success'"></i></p>
    <!-- <p class="text-center" *ngIf="health"><b>Salud:</b> {{health}}</p> -->
    <!-- <p class="text-center" *ngIf="surgical"><b>¿Ha sido intervenido quirurgicamente?:</b> {{surgical == 'yes'? 'Si':'No'}}</p> -->

    <div class="author" style="margin-top:5px;">
        <hr *ngIf="company_name && plan_name && price">
        <h4 class="title" style="margin: 10px" *ngIf="company_name && plan_name && price">Cotización interesada</h4>
        <a>
          <img class="avatar border-gray" *ngIf="company_logo" [src]="company_logo" alt="..."/>
          <h4 class="title">{{ company_name }}<br />
            <small class="text-center" *ngIf="plan_name && price">{{plan_name}}</small><br />
            <small class="text-center" *ngIf="plan_name && price">${{price | number:'.2-2'}}</small>
          </h4>
        </a>
      </div>

  </div>
  <!-- <hr>
  <div class="text-center">
    <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
    <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
    <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
  </div> -->
</div>
