<spinner-component [spinnerShow]="progress"></spinner-component>
<div *ngIf="!showEditForm && !showCardUser && !showNewForm" class="container-fluid">
  <div class="row">
    <div class="col-md-12 card" [@cardtable1]>

  <div class="header">
    <h4 class="title"><a *ngIf="isAdmin()" (click)="newUser()" class="icon" [routerLink]=''> {{ title }} <i class="pe-7s-add-user"></i></a></h4>
    <p class="category">{{ subtitle }} </p>
    

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
          <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" id="search" name="searchFilter" placeholder="Buscar..." #searchFilter 
        (keyup)="0" (keyup.enter)="getUsersBackend($event.target.value)">
        </div>
        </div>
      </div>
  </div>


  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          <th *ngFor="let header of tableData.headerRow">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data | paginate: { itemsPerPage: pagination, currentPage: page }">
         <!-- | filterBy: ['ita', 'name', 'last']: searchFilter.value<td *ngFor="let rowValues of row | rowPipe"> {{showRow(row, rowValues)}}</td> .-->
         <td> {{row.ita}} </td>
         <td> {{row.name}} </td>
         <td> {{row.last}} </td>
         <td> {{row.position}} </td>
         <td> {{row.rol}} </td>
          <td> 
              <a (click)="showUser(row)" class="icon" [routerLink]=""><i class="pe-7s-look"></i></a> 
              <a (click)="editUser(row)" class="icon" [routerLink]=""><i class="pe-7s-pen" ></i></a>
              <a [title]="row.status==0 ? 'Activar' : 'Desactivar'" (click)="changeStatus(row)" class="icon" [routerLink]=""><i (onCreate)="getStatusUser(row.ita)" [ngClass]="row.status==0 ? 'pe-7s-check' : 'pe-7s-power'"></i></a>
          </td>  
        </tr>

      </tbody>
    </table>
    <div align="center" class="has-text-centered">
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
      </div>
    </div>
  </div>
</div>

 <!--- New form -->

<div *ngIf="showNewForm" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Nuevo Usuario</h4>
        </div>
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmitNewUser()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="ita">ITA</label>
                  <input type="text" class="form-control" id="ita" name="ita" required placeholder="ITA" [(ngModel)]="formData.ita">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" required class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">Nombre</label>
                  <input type="text" required class="form-control" id="name" name="name" placeholder="Nombre" [(ngModel)]="formData.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Apellido</label>
                  <input type="text" required class="form-control" id="last" name="last" placeholder="Apellido" [(ngModel)]="formData.last">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">Dirección</label>
                  <input type="text" required class="form-control" id="address" name="address" placeholder="Dirección" [(ngModel)]="formData.address">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone">Teléfono</label>
                  <input type="text" required class="form-control" id="phone" name="phone" placeholder="Teléfono" [(ngModel)]="formData.phone">
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label for="position">Posición</label> 
                <select name="positions" id="positions"  [(ngModel)]="formData.id_position" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let position of positions " [value]="position.id_position" [selected]="formData.id_position == position.id_position">
                    {{ position.position }}
                  </option>
                </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label for="rol">Rol</label>
                <select name="rols" id="rols" [(ngModel)]="formData.id_rol" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let rol of rols " [value]="rol.id_rol" [selected]="formData.id_rol == rol.id_rol" >
                    {{ rol.rol }}
                  </option>
                </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" required class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="formData.password">
                </div>
              </div>
            </div>
            <hr>
            <div class="btn-toolbar">
            <button [disabled]="!form.valid || !formData.id_position || !formData.id_rol" type="submit" class="btn btn-success btn-fill pull-right">Guardar</button> 
            <button (click)="showNewForm=!showNewForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4" [@cardprofile]>
      <lbd-user-profile
        [backgroundImage]="'https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400'"
        [avatarImage]="formData.photo!='' ? formData.photo  : 'assets/img/faces/face-0.jpg'"
        [name]="formData.name+' '+formData.last"
        [username]="formData.ita"
        [email]="formData.email"
        [phone]="formData.phone"
        [address]="formData.address"
        >
      </lbd-user-profile>
    </div>
  </div>
</div>

 <!--- fin NEW form -->


 <!--- Edit form -->

<div *ngIf="showEditForm" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Editar Usuario</h4>
        </div>
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmitEditUser()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="ita">ITA</label>
                  <input type="text" class="form-control" disabled id="ita" name="ita" required placeholder="ITA" [(ngModel)]="formData.ita">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" required class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">Nombre</label>
                  <input type="text" required class="form-control" id="name" name="name" placeholder="Nombre" [(ngModel)]="formData.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Apellido</label>
                  <input type="text" required class="form-control" id="last" name="last" placeholder="Apellido" [(ngModel)]="formData.last">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">Dirección</label>
                  <input type="text" required class="form-control" id="address" name="address" placeholder="Dirección" [(ngModel)]="formData.address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone">Teléfono</label>
                  <input type="text" required class="form-control" id="phone" name="phone" placeholder="Teléfono" [(ngModel)]="formData.phone">
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label for="position">Posición</label> 
                <select name="positions" id="positions"  [(ngModel)]="formData.id_position" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let position of positions " [value]="position.id_position" [selected]="formData.id_position == position.id_position">
                    {{position.position }}
                  </option>
                </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label for="rol">Rol</label>
                <select name="rols" id="rols" [(ngModel)]="formData.id_rol" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let rol of rols " [value]="rol.id_rol" [selected]="formData.id_rol == rol.id_rol" >
                    {{rol.rol }}
                  </option>
                </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Deje en blanco para no cambiar" [(ngModel)]="formData.password">
                </div>
              </div>
            </div>
            <hr>
            <div class="btn-toolbar">
            <button [disabled]="!form.valid" type="submit" class="btn btn-success btn-fill pull-right">Guardar</button> 
            <button (click)="showEditForm=!showEditForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4" [@cardprofile]>
      <lbd-user-profile
        [backgroundImage]="'https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400'"
        [avatarImage]="formData.photo!='' ? formData.photo  : 'assets/img/faces/face-0.jpg'"
        [name]="formData.name+' '+formData.last"
        [username]="formData.ita"
        [email]="formData.email"
        [phone]="formData.phone"
        [address]="formData.address"
        >
      </lbd-user-profile>
    </div>
  </div>
</div>

 <!--- fin edit form -->

  <!--- Show Modal -->

<modal #modal>
   <modal-header [show-close]="true">
        <h4 class="modal-title">{{titleModal}}</h4>
    </modal-header>
    <modal-body>
    <div [@cardprofile]>
      <lbd-user-profile
        [backgroundImage]="'https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400'"
        [avatarImage]="formData.photo!='' ? formData.photo  : 'assets/img/faces/face-0.jpg'"
        [name]="formData.name+' '+formData.last"
        [username]="formData.position + ' - ITA: ' + formData.ita"
        [email]="formData.email"
        [phone]="'Teléfono: '+ formData.phone"
        [address]="formData.address"
        >
      </lbd-user-profile>
    </div>
    </modal-body>
</modal>

 <!--- Show modal -->

