.icon {
    font-size: 1.75em;
    padding: 5px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

 .holds-the-iframe {
  background:url(../../assets/img/angular2-logo-white.png) center center no-repeat;
 }

 h1 {
    margin: 1em 0 .5em;
  
  }
  
  h3 {
    color: #444;
    border-bottom: 1px solid #efefef;
    margin: 3em 0 1em;
  }
  
  .form-group:last-child {
    margin-bottom: 0;
  }
  
  .card-block {
    background-color: #f7f5f2;
  }
  
  :host {
    padding: 5em 0;
  }
  
  :host /deep/ .match {
    color: darkred;
  }
  
  .completer-limit /deep/ .completer-dropdown {
    overflow-y: auto;
    max-height: 20rem;
  }
  
  .chevron {
    padding-top: 40%;
  }
  
  .chevron-holder {
    position: absolute;
    height: 100%;
    border: 1px solid rgba(0,0,0,.15);
    border-top-color: rgba(0, 0, 0, 0.14902);
    background-color: white;
    border-radius: 25%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
  }
  
  .chevron-holder.dropdown-open {
    border-color: #5cb3fd;
  }
  
  .with-chevron /deep/ .completer-input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .country{
    display: inline-flex;
    float: right;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:disabled + .slider {
    cursor: not-allowed;
    background-color: rgb(235, 235, 228);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

.disabled-table
{
  // cursor: not-allowed;
  pointer-events: none !important;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

