<spinner-component [spinnerShow]="progress"></spinner-component>
<div class="container-fluid"  *ngIf="!showForgetForm && !showRegisterForm">
  <div class="row">

      <div class="col-md-4 card" [@carduserprofile] >
        
        <div class="header">
          <h4 class="title">Login</h4>
        </div>
        
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmit()">
          
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input autofocus type="text" class="form-control" id="email" name="email" required placeholder="Email" [(ngModel)]="formData.username">
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Password</label>
                <input type="password" required class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="formData.password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <a class="pull-right" (click)="showForgetForm=!showForgetForm;"  [routerLink]="''" > Olvidó su password? </a>
              </div>
            </div>
          </div>     
          <hr>
          <div class="btn-toolbar">       
            <button [disabled]="!form.valid" type="submit" class="btn btn-success btn-fill pull-right">Login</button>
            <!-- <button (click)="register()" type="button" class="btn btn-info btn-fill pull-right">Registro</button> -->
          </div>
          <div class="clearfix"></div>
          </form>
        </div>
      </div>

  </div>
</div>
<!-- forget pass -->
<div class="container-fluid" *ngIf="showForgetForm" >
 <div class="row">
      <div class="col-md-6 card" [@carduserprofile] >
       
        <div class="header">
          <h4 class="title">Recuperar contraseña</h4>
        </div>
        
        <div class="content">
          <form #formForget="ngForm" (ngSubmit)="forgetPass2()">
          <!--
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="ita">ITA</label>
                  <input autofocus type="text" class="form-control" id="ita" name="ita" required placeholder="ITA" [(ngModel)]="formDataForget.ita">
                </div>
              </div>
          </div>
        -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="formDataForget.email">
              </div>
            </div>
          </div>
          <div class="col-md-12">
                <div class="form-group">
                <label for="rol">Pregunta secreta</label>
                <select required name="rols" id="questions" [(ngModel)]="formDataForget.id_question" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let q of questions " [value]="q.id_question" [selected]="formDataForget.id_question == q.id_question" >
                    {{q.question }}
                  </option>
                </select>
                </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="answer">Respuesta</label>
                <input type="test" required class="form-control" id="answer" name="answer" placeholder="Respuesta" [(ngModel)]="formDataForget.answer">
              </div>
            </div>
          </div>
          <hr>
          <div class="btn-toolbar">
            <button [disabled]="!formForget.valid" type="submit" class="btn btn-success btn-fill pull-right">Recuperar</button> 
            <button (click)="showForgetForm=!showForgetForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
          </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
 </div>
</div>

<!--- Complete form -->
<div class="container-fluid" *ngIf="showRegisterForm" >
<div class="row">
      <div class="col-md-6 card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Registro</h4>
        </div>
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmitEditUser()">
           
             <div class="row">
                  <!--  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ita">ITA</label>
                      <input autofocus (change)="getUserIta()" type="text" class="form-control" id="ita" name="ita" required placeholder="ITA" [(ngModel)]="formData.ita">
                    </div>
                  </div>
                  -->
                  
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="email">Email</label> <span class="text-danger" *ngIf="email?.errors?.email"> - Email Incorrecto</span>
                      <input (change)="getUserEmail()" email #email="ngModel" type="email" required class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
                    </div>
                  </div>

              </div> 

            <div class="row">
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" required class="form-control" id="name" name="name" placeholder="Nombre" [(ngModel)]="formData.name">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" required class="form-control" id="last" name="last" placeholder="Apellido" [(ngModel)]="formData.last">
                  </div>
                </div>


          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               <label for="description">Empresa </label>
                 <select #category class="form-control" required name="company" [(ngModel)]="formData.id_company" (change)="getSubCompanies($event.target.value)"> 
                   <option [selected]="formData.id_company == 0" value="0">--Seleccciona--</option>
                   <option  [selected]="formData.id_company == company.id_company" *ngFor="let company of dataCompany" [value]="company.id_company">{{company.name}}</option>
                 </select>
              </div>
             </div>
               <div class="col-md-6">
                 <div class="form-group">
                 <label for="description">Organización </label>
                 <select [disabled]="disabledSubCompany" #subCompany class="form-control" required name="subCompany" [(ngModel)]="formData.id_sub_company" >
                   <option [selected]="formData.id_sub_company == 0" value="0">--Selecciona--</option>
                   <option  [selected]="formData.id_sub_company == subCompany.id_sub_company" *ngFor="let subCompany of dataSubCompany" [value]="subCompany.id_sub_company">{{subCompany.name}}</option>
                 </select>
                 </div>
               </div>
            </div>
                
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">Dirección (Opcional)</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Dirección" [(ngModel)]="formData.address">
                </div>
              </div>
            </div> -->
            <!--
            <div class="row">
              <div class="col-md-6">
               
                  <label for="sponsor">Patrocinador</label>
                  <ng2-completer #remoteDataSponsor required
                  [(ngModel)]="sponsor"
                   class="completer-limit"
                   name = "sponsor"
                  [datasource]="customData"
                  [minSearchLength]="3"
                  [placeholder]="placeholderSponsor"
                  [inputClass]="'form-control'"
                  [textSearching]="'Buscando...'"
                  (selected)="onSponsorSelected($event)"
                  [textNoResults]="'Nada encontrado'">
                  </ng2-completer>
        
              </div>
              <div class="col-md-6">
                
                  <label for="platinum">Platino directo</label>
                  <ng2-completer #remoteDataPlatinum required
                  [(ngModel)]="platinum"
                   class="completer-limit"
                   name = "platinum"
                  [datasource]="customData"
                  [minSearchLength]="3"
                  [placeholder]="placeholderPlatinum"
                  [inputClass]="'form-control'"
                  [textSearching]="'Buscando...'"
                  (selected)="onPlatinumSelected($event)"
                  [textNoResults]="'Nada encontrado'">
                  </ng2-completer>
           
              </div>
            </div>
            -->
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label for="phone">Teléfono (Opcional)</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" [(ngModel)]="formData.phone">
              </div>
              </div> -->
            
              <div class="col-md-6">
                <div class="form-group">
                <label for="rol">Pregunta secreta</label>
                <select required name="rols" id="questions" [(ngModel)]="formData.id_question" class="form-control" id="inlineFormCustomSelect">
                  <option *ngFor="let q of questions " [value]="q.id_question" [selected]="formData.id_question == q.id_question" >
                    {{q.question }}
                  </option>
                </select>
                </div>
              </div>
              <div class="col-md-6">
            <div class="form-group">
                <label for="answer">Respuesta</label>
                <input type="test" required class="form-control" id="answer" name="answer" placeholder="Respuesta" [(ngModel)]="formData.answer">
              </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" required class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="formData.password">
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password_conf">Repite el Password</label>
                  <input type="password" class="form-control" id="password_conf" name="password_conf" required placeholder="Repite el Password" [(ngModel)]="formData.password_conf">
                </div>
              </div>
            </div>
            <hr>
            <div class="btn-toolbar">
            <button [disabled]="!form.valid || (formData.password!=formData.password_conf) || (formData.id_sub_company == 0 || formData.id_company == 0)" type="submit" class="btn btn-success btn-fill pull-right">Guardar</button> 
            <button (click)="showRegisterForm=!showRegisterForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
            </div>
            
          </form>
        </div>
      </div>
</div>
</div>

