<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 " [@carduserprofile] >
            <div class="content"><br>
               
              <div class="pos" id="_0:0" style="top:0">
                <div class="pos" id="_118:116" style="top:116;left:118">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                POL&#205;TICA DE PRIVACIDAD</span>
                </div>
                <div class="pos" id="_118:152" style="top:152;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                 </span>
                </div>
                <div class="pos" id="_118:188" style="top:188;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                El presente Pol&#237;tica de Privacidad establece los t&#233;rminos en que PGS HEALTH usa </span>
                </div>
                <div class="pos" id="_118:207" style="top:207;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                y protege la informaci&#243;n que es proporcionada por sus usuarios al momento de </span>
                </div>
                <div class="pos" id="_118:226" style="top:226;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                utilizar su sitio web. Esta compa&#241;&#237;a est&#225; comprometida con la seguridad de los datos </span>
                </div>
                <div class="pos" id="_118:245" style="top:245;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                de sus usuarios. Cuando le pedimos llenar los campos de informaci&#243;n personal con </span>
                </div>
                <div class="pos" id="_118:264" style="top:264;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                la cual usted pueda ser identificado, lo hacemos asegurando que s&#243;lo se emplear&#225; </span>
                </div>
                <div class="pos" id="_118:284" style="top:284;left:118">
                <span id="_16.7" style=" font-family:Arial; font-size:16.7px; color:#000000">
                de acuerdo con los t&#233;rminos de este documento. Sin embargo esta Pol&#237;tica de </span>
                </div>
                <div class="pos" id="_118:303" style="top:303;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Privacidad  puede  cambiar  con  el  tiempo  o  ser  actualizada  por  lo  que  le </span>
                </div>
                <div class="pos" id="_118:322" style="top:322;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                recomendamos y enfatizamos revisar continuamente esta p&#225;gina para asegurarse </span>
                </div>
                <div class="pos" id="_118:341" style="top:341;left:118">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                que est&#225; de acuerdo con dichos cambios.</span>
                </div>
                <div class="pos" id="_118:377" style="top:377;left:118">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                Informaci&#243;n que es recogida</span>
                </div>
                <div class="pos" id="_179:413" style="top:413;left:179">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Nuestro sitio web podr&#225; recoger informaci&#243;n personal por ejemplo: </span>
                </div>
                <div class="pos" id="_141:432" style="top:432;left:141">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Nombre,  informaci&#243;n de contacto como  su direcci&#243;n de correo electr&#243;nica e </span>
                </div>
                <div class="pos" id="_131:451" style="top:451;left:131">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                informaci&#243;n demogr&#225;fica. As&#237; mismo cuando sea necesario podr&#225; ser requerida </span>
                </div>
                <div class="pos" id="_147:470" style="top:470;left:147">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                informaci&#243;n espec&#237;fica para procesar alg&#250;n pedido o realizar una entrega o </span>
                </div>
                <div class="pos" id="_326:489" style="top:489;left:326">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                facturaci&#243;n. Accedemos a:</span>
                </div>
                <div class="pos" id="_315:525" style="top:525;left:315">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                ACCESS NETWORK STATE</span>
                </div>
                <div class="pos" id="_154:561" style="top:561;left:154">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Se utiliza para comprobar la presencia de red con el fin de iniciar/detener </span>
                </div>
                <div class="pos" id="_280:580" style="top:580;left:280">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                consecuentemente el servicio de fondo</span>
                </div>
                <div class="pos" id="_355:616" style="top:616;left:355">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                Acceso a Internet</span>
                </div>
                <div class="pos" id="_373:652" style="top:652;left:373">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                WAKE LOCK</span>
                </div>
                <div class="pos" id="_127:688" style="top:688;left:127">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Necesario para mantener el dispositivo encendido mientras se est&#225; conectado al </span>
                </div>
                <div class="pos" id="_244:707" style="top:707;left:244">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                servicio o se est&#225; teniendo una cotizaci&#243;n activa.</span>
                </div>
                <div class="pos" id="_388:743" style="top:743;left:388">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                RECEIVE</span>
                </div>
                <div class="pos" id="_160:779" style="top:779;left:160">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Otorga permiso a nuestra aplicaci&#243;n para registrarse y recibir mensajes</span>
                </div>
                <div class="pos" id="_266:831" style="top:831;left:266">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                BIND GET INSTALL REFERRER SERVICE</span>
                </div>
                <div class="pos" id="_124:850" style="top:850;left:124">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                Permite que otras aplicaciones sepan si su instalaci&#243;n se inici&#243; desde un anuncio </span>
                </div>
                <div class="pos" id="_331:869" style="top:869;left:331">
                <span id="_16.1" style=" font-family:Arial; font-size:16.1px; color:#000000">
                en Privacy Browser Free.</span>
                </div>
                <div class="pos" id="_118:941" style="top:941;left:118">
                <span id="_16.1" style="font-weight:bold; font-family:Arial; font-size:16.1px; color:#000000">
                Uso de la informaci&#243;n recogida</span>
                </div>
                <div class="pos" id="_0:0" style="top:1100">
                <div class="pos" id="_118:1199" style="top:1199;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                Nuestro sitio web emplea la informaci&#243;n con el fin de proporcionar el mejor servicio </span>
                </div>
                <div class="pos" id="_118:1219" style="top:1219;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                posible, particularmente para mantener un registro de usuarios, de pedidos en caso </span>
                </div>
                <div class="pos" id="_118:1238" style="top:1238;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                que  aplique,  y  mejorar  nuestros  productos  y  servicios.   Es  posible  que  sean </span>
                </div>
                <div class="pos" id="_118:1257" style="top:1257;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                enviados correos electr&#243;nicos peri&#243;dicamente a trav&#233;s de nuestro sitio con ofertas </span>
                </div>
                <div class="pos" id="_118:1276" style="top:1276;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                especiales,  nuevos  productos  y  otra  informaci&#243;n  publicitaria  que  consideremos </span>
                </div>
                <div class="pos" id="_118:1295" style="top:1295;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                relevante  para  usted  o  que  pueda  brindarle  alg&#250;n  beneficio,  estos  correos </span>
                </div>
                <div class="pos" id="_118:1314" style="top:1314;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                electr&#243;nicos  ser&#225;n  enviados  a  la  direcci&#243;n  que  usted  proporcione  y  podr&#225;n  ser </span>
                </div>
                <div class="pos" id="_118:1334" style="top:1334;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                cancelados en cualquier momento.</span>
                </div>
                <div class="pos" id="_118:1369" style="top:1369;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                PGS HEALTH est&#225; altamente comprometido para cumplir con el compromiso de </span>
                </div>
                <div class="pos" id="_118:1389" style="top:1389;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                mantener  su  informaci&#243;n  segura.  Usamos  los  sistemas  m&#225;s  avanzados  y  los </span>
                </div>
                <div class="pos" id="_118:1408" style="top:1408;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                actualizamos constantemente para asegurarnos que no exista ning&#250;n acceso no </span>
                </div>
                <div class="pos" id="_118:1427" style="top:1427;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                autorizado.</span>
                </div>
                <div class="pos" id="_118:1463" style="top:1463;left:118">
                <span id="_16.0" style="font-weight:bold; font-family:Arial; font-size:16.0px; color:#000000">
                Cookies</span>
                </div>
                <div class="pos" id="_118:1499" style="top:1499;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso </span>
                </div>
                <div class="pos" id="_118:1518" style="top:1518;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve </span>
                </div>
                <div class="pos" id="_118:1537" style="top:1537;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                entonces para tener informaci&#243;n respecto al tr&#225;fico web, y tambi&#233;n facilita las futuras </span>
                </div>
                <div class="pos" id="_118:1556" style="top:1556;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                visitas a una web recurrente. Otra funci&#243;n que tienen las cookies es que con ellas </span>
                </div>
                <div class="pos" id="_118:1575" style="top:1575;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio </span>
                </div>
                <div class="pos" id="_118:1594" style="top:1594;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                personalizado de su web.</span>
                </div>
                <div class="pos" id="_118:1630" style="top:1630;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                Nuestro sitio web emplea las cookies para poder identificar las p&#225;ginas que son </span>
                </div>
                <div class="pos" id="_118:1649" style="top:1649;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                visitadas y su frecuencia. Esta informaci&#243;n es empleada &#250;nicamente para an&#225;lisis </span>
                </div>
                <div class="pos" id="_118:1669" style="top:1669;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                estad&#237;stico y despu&#233;s la informaci&#243;n se elimina de forma permanente. Usted puede </span>
                </div>
                <div class="pos" id="_118:1688" style="top:1688;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las </span>
                </div>
                <div class="pos" id="_118:1707" style="top:1707;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                cookies ayudan a proporcionar un mejor servicio de los sitios web, est&#225;s no dan </span>
                </div>
                <div class="pos" id="_118:1726" style="top:1726;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                acceso a informaci&#243;n de su ordenador ni de usted, a menos de que usted as&#237; lo </span>
                </div>
                <div class="pos" id="_118:1745" style="top:1745;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                quiera  y  la  proporcione  directamente.  Usted  puede  aceptar  o  negar  el  uso  de </span>
                </div>
                <div class="pos" id="_118:1764" style="top:1764;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                cookies, sin embargo la mayor&#237;a de navegadores aceptan cookies autom&#225;ticamente </span>
                </div>
                <div class="pos" id="_118:1784" style="top:1784;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                pues  sirve  para  tener  un  mejor  servicio  web.  Tambi&#233;n  usted  puede  cambiar  la </span>
                </div>
                <div class="pos" id="_118:1803" style="top:1803;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                configuraci&#243;n de su ordenador para declinar las cookies. Si se declinan es posible </span>
                </div>
                <div class="pos" id="_118:1822" style="top:1822;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                que no pueda utilizar algunos de nuestros servicios.</span>
                </div>
                <div class="pos" id="_118:1858" style="top:1858;left:118">
                <span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
                Enlaces a Terceros</span>
                </div>
                <div class="pos" id="_118:1894" style="top:1894;left:118">
                <span id="_16.8" style=" font-family:Arial; font-size:16.8px; color:#000000">
                Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su </span>
                </div>
                <div class="pos" id="_118:1913" style="top:1913;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                inter&#233;s. Una vez que usted de clic en estos enlaces y abandone nuestra p&#225;gina, ya </span>
                </div>
                <div class="pos" id="_118:1932" style="top:1932;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                no  tenemos  control  sobre  al  sitio  al  que  es  redirigido  y  por  lo  tanto  no  somos </span>
                </div>
                <div class="pos" id="_118:1951" style="top:1951;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                responsables de los t&#233;rminos o privacidad ni de la protecci&#243;n de sus datos en esos </span>
                </div>
                <div class="pos" id="_118:1970" style="top:1970;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                otros sitios terceros. Dichos sitios est&#225;n sujetos a sus propias pol&#237;ticas de privacidad </span>
                </div>
                <div class="pos" id="_118:1989" style="top:1989;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                por lo cual es recomendable que los consulte para confirmar que usted est&#225; de </span>
                </div>
                <div class="pos" id="_118:2009" style="top:2009;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                acuerdo con estas.</span>
                </div>
                <div class="pos" id="_118:2044" style="top:2044;left:118">
                <span id="_16.0" style="font-weight:bold; font-family:Arial; font-size:16.0px; color:#000000">
                Control de su informaci&#243;n personal</span>
                </div>
                <div class="pos" id="_0:0" style="top:2200">
                <div class="pos" id="_118:2299" style="top:2299;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                En  cualquier  momento  usted  puede  restringir  la  recopilaci&#243;n  o  el  uso  de  la </span>
                </div>
                <div class="pos" id="_118:2319" style="top:2319;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                informaci&#243;n personal que es proporcionada a nuestro sitio web.  Cada vez que se </span>
                </div>
                <div class="pos" id="_118:2338" style="top:2338;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                le  solicite  rellenar  un  formulario,  como  el  de  alta  de  usuario,  puede  marcar  o </span>
                </div>
                <div class="pos" id="_118:2357" style="top:2357;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                desmarcar la opci&#243;n de recibir informaci&#243;n por correo electr&#243;nico.  En caso de que </span>
                </div>
                <div class="pos" id="_118:2376" style="top:2376;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                haya  marcado  la  opci&#243;n  de  recibir  nuestro  bolet&#237;n  o  publicidad  usted  puede </span>
                </div>
                <div class="pos" id="_118:2395" style="top:2395;left:118">
                <span id="_16.0" style=" font-family:Arial; font-size:16.0px; color:#000000">
                cancelarla en cualquier momento.</span>
                </div>
                <div class="pos" id="_118:2431" style="top:2431;left:118">
                <span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#000000">
                Esta compa&#241;&#237;a no vender&#225;, ceder&#225; ni distribuir&#225; la informaci&#243;n personal que es </span>
                </div>
                <div class="pos" id="_118:2450" style="top:2450;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden </span>
                </div>
                <div class="pos" id="_118:2469" style="top:2469;left:118">
                <span id="_16.3" style=" font-family:Arial; font-size:16.3px; color:#000000">
                judicial.</span>
                </div>
                <div class="pos" id="_118:2505" style="top:2505;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                PGS HEALTH Se reserva el derecho de cambiar los t&#233;rminos de la presente Pol&#237;tica </span>
                </div>
                <div class="pos" id="_118:2524" style="top:2524;left:118">
                <span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                de Privacidad en cualquier momento.</span>
                </div>  


              <a routerLink="/">
                    Volver
              </a>
                  <br>
            </div>
          </div>
    </div>
  </div>