.icon {
    font-size: 1.75em;
    padding: 5px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

 .holds-the-iframe {
  background:url(../../assets/img/angular2-logo-white.png) center center no-repeat;
 }


 .spinningCircle {
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid white;
    border-right: 3px solid white;
    -webkit-animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
    animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
  }