<spinner-component [spinnerShow]="progress"></spinner-component>
<div *ngIf="!showEditForm && !showNewForm" class="container-fluid">
  <div class="row">
    <div class="card" [@cardtable1]>

  <div class="header">
    <h4 class="title"><a (click)="newAudio()" class="icon" [routerLink]=''> {{ title }} <i class="pe-7s-music"></i></a></h4>
    <p class="category">{{ subtitle }} </p>
    

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 pull-right">
          <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" id="search" name="searchFilter" placeholder="Buscar..." #searchFilter 
        (keyup)="0">
        </div>
        </div>
      </div>
  </div>


  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          <th *ngFor="let header of tableData.headerRow">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data | filterBy: ['name']: searchFilter.value | paginate: { itemsPerPage: pagination, currentPage: page }">
         <!--<td *ngFor="let rowValues of row | rowPipe"> {{showRow(row, rowValues)}}</td> .-->
         <td>  {{row.name}} </td> 
         <td>  {{row.name_module}} </td> 
         <td>  {{row.is_audio == 1 ? 'Audio': 'Complemento'}} </td> 
         <td>  {{row.name_user_create}} {{row.last_user_create}}</td> <!-- Creado por -->
          <td> 
              <a (click)="showAudio(row)" class="icon" [routerLink]=""><i class="pe-7s-play"></i></a> 
              <a (click)="editAudio(row)" class="icon" [routerLink]=""><i class="pe-7s-pen" ></i></a>
              <a [title]="row.status==0 ? 'Activar' : 'Desactivar'" (click)="changeStatus(row)" class="icon" [routerLink]=""><i (onCreate)="getStatusMedia(row.ita)" [ngClass]="row.status==0 ? 'pe-7s-check' : 'pe-7s-power'"></i></a>
              <a (click)="deleteAudio(row)" class="icon" [routerLink]=""><i class="pe-7s-trash" ></i></a>
            </td>  
        </tr>

      </tbody>
    </table>
    <div align="center" class="has-text-centered">
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
      </div>
    </div>
  </div>
</div>

<!-- New media -->

<div *ngIf="showNewForm" class="container-fluid">


      <div class="card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Nuevo Audio</h4>
        </div>
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmitNewAudio()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" required placeholder="Nombre del audio" [(ngModel)]="formData.name">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="url">URL</label>
                  <input type="text" required class="form-control" id="url" name="url" placeholder="url" [(ngModel)]="formData.url">
                </div>
              </div>
            </div>

            <div class="row">

            <div class="col-md-4">
               <div class="form-group">
                <label for="module">Módulo <a title="Nuevo Módulo" (click)="modalNewModule.open()" class="icon" [routerLink]=''> <i class="pe-7s-plus"></i></a></label>
                  <select #module class="form-control" required name="module" [(ngModel)]="formData.id_module" > 
                    <option [selected]="formData.id_module == 0" value="0">--Seleccciona--</option>
                    <option  [selected]="formData.id_module == module.id_module" *ngFor="let module of dataModules" [value]="module.id_module">{{module.name}}</option>
                  </select>
               </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="is_audio">¿Audio o complemento?<a  class="icon" [routerLink]=''> </a></label>
                 <p style="padding:0.5em">
                  <label class="radio-inline"><input type="radio"  [checked]="formData.is_audio == 1" [value]="1" name="is_audio" [(ngModel)]="formData.is_audio" >Audio</label>
                  <label class="radio-inline"><input type="radio" name="is_audio" [(ngModel)]="formData.is_audio" [value]="0">Complemento</label>
                 </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div [formGroup]="myFormUsers" class="form-group">
                  <label for="users">Usuario creador<a  class="icon" [routerLink]=''> </a></label>
                  <input required auto-complete
                   [(ngModel)]="formData.users"
                   formControlName="users"
                   [source]="dataUsers"
                   [list-formatter]="autocompleListFormatterUsers"
                   value-property-name="ita"
                   display-property-name="name" 
                   max-num-list ="10"
                   min-chars = "3"
                   placeholder="Creador"
                   loading-text = "Buscando..."
                   no-match-found-text = "Nada encontrado"
                   class="form-control"> 
                  </div>
                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Descripción (Opcional)</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Descripción" [(ngModel)]="formData.description">
                </div>
              </div>
            </div>
            <hr>
            <div class="btn-toolbar">
            <button [disabled]="module.value==0 || !form.valid || !myFormUsers.valid || formData.users.ita==''" type="submit" class="btn btn-success btn-fill pull-right">Guardar</button> 
            <button (click)="showNewForm=!showNewForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

<!-- Edit media -->

<div *ngIf="showEditForm" class="container-fluid">


      <div class="card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Editar Audio</h4>
        </div>
        <div class="content">
          <form #formEdit="ngForm" (ngSubmit)="onSubmitEditAudio()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" required placeholder="Nombre del audio" [(ngModel)]="formData.name">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="url">URL </label> <span class="text-danger" *ngIf="url?.errors?.url">Error</span>
                  <input #url="ngModel"
                  type="text" required class="form-control" id="url" name="url" placeholder="url" [(ngModel)]="formData.url" url>
                 
                </div>
              </div>
            </div>

            <div class="row">
            <div class="col-md-4">
               <div class="form-group">
                <label for="module">Módulo <a title="Nuevo Módulo" (click)="modalNewModule.open()" class="icon" [routerLink]=''> <i class="pe-7s-plus"></i></a></label>
                  <select #module class="form-control" required name="module" [(ngModel)]="formData.id_module" > 
                    <option [selected]="formData.id_module == 0" value="0">--Seleccciona--</option>
                    <option  [selected]="formData.id_module == module.id_module" *ngFor="let module of dataModules" [value]="module.id_module">{{module.name}}</option>
                  </select>
               </div>
            </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="is_audio">¿Audio o complemento?<a  class="icon" [routerLink]=''> </a></label>
                 <p style="padding:0.5em"> 
                  <label class="radio-inline"><input type="radio"  [checked]="formData.is_audio == '1'" name="is_audio" [(ngModel)]="formData.is_audio" value="1">Audio</label>
                  <label class="radio-inline"><input type="radio"  [checked]="formData.is_audio == '0'" name="is_audio" [(ngModel)]="formData.is_audio" value="0">Complemento</label>
                 </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <div [formGroup]="myFormUsers" class="form-group">
                  <label for="users">Usuario creador<a  class="icon" [routerLink]=''> </a></label>
                  <input required auto-complete
                   [(ngModel)]="formData.users"
                   formControlName="users"
                   [source]="dataUsers"
                   [list-formatter]="autocompleListFormatterUsers"
                   value-property-name="ita"
                   display-property-name="name" 
                   max-num-list ="10"
                   min-chars = "3"
                   placeholder="Creador"
                   loading-text = "Buscando..."
                   no-match-found-text = "Nada encontrado"
                   class="form-control"> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Descripción (Opcional)</label>
                  <input type="text" class="form-control" id="description" name="description" placeholder="Descripción" [(ngModel)]="formData.description">
                </div>
              </div>
            </div>
            <hr>
            <div class="btn-toolbar">
            <button [disabled]="!url.valid || module.value==0 || !myFormUsers.valid " type="submit" class="btn btn-success btn-fill pull-right">Guardar</button> 
            <button (click)="showEditForm=!showEditForm" type="submit" class="btn btn-info btn-fill pull-right">Cancelar</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

<!-- modal -->
<modal #modal (onDismiss)="dismissed()">
   <modal-header [show-close]="true">
        <h4 class="modal-title">{{titleModal}}</h4>
       
    </modal-header>
    <modal-body>
    <div  >
   <iframe id='audio_4653723' frameborder='0' allowfullscreen='' scrolling='no' height='200' 
   style='border:1px solid #EEE; box-sizing:border-box; width:100%;' 
    [src]="url | safe">
   </iframe>
    <!--
    <iframe id='audio_4653723' frameborder='0' allowfullscreen='' scrolling='no' height='200' style='border:1px solid #EEE; box-sizing:border-box; width:100%;' 
    src="https://mx.ivoox.com/es/player_ej_4653723_4_1.html?c1=ff6600">
  </iframe>   
  -->

    </div>
    </modal-body>
</modal>

<modal [animation]="true" [keyboard]="true" [backdrop]="true" (onClose)="saveModule()" (onDismiss)="dismissed()"
        #modalNewModule>
        <form #modalFormModule="ngForm">
            <modal-header [show-close]="true">
                <h4 class="modal-title">Nuevo Módulo</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" required [(ngModel)]="formModule.name" name="module" id="module">
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalNewModule.dismiss()">Cancelar</button>
                <button type="button" class="btn btn-primary" [disabled]="!modalFormModule.valid" (click)="modalNewModule.close()">Guardar</button>
            </modal-footer>
        </form>
</modal>
