<spinner-component [spinnerShow]="progress"></spinner-component>

<div class="container-fluid" >
  <div class="row">
    <div class="col-md-6" [@cardemail]>

        <div class="card">
            <div class="header">
              <h4 class="title">{{titlePie}}</h4>
              <p class="category">{{subTitlePie}}</p>
            </div>
            <div class="content">
                <div>
                    <div>
                      <div class="chart">
                        <canvas height="200px" baseChart
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          [chartType]="pieChartType"
                          [options]="pieChartOptions"
                          [plugins]="pieChartPlugins"
                          [colors]="pieChartColors"
                          [legend]="pieChartLegend">
                        </canvas>
                      </div>
                    </div>
                  </div>
          
              <div class="footer">
                <div class="legend">
                  <span *ngFor="let item of legendItems">
                    <!-- <i [ngClass]="item.imageClass" [ngStyle]="{'color': item.color}"></i> {{ item.title }} -->
                  </span>
                </div>
                <hr>
                <div class="stats">
                  <i [ngClass]="footerIconClassPie" (click)="updatePie()"></i> {{ footerTextPie }}
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="col-md-6" [@carduser]>

        <div class="card">
            <div class="header">
              <h4 class="title">{{titleLine}}</h4>
              <p class="category">{{subTitleLine}}</p>
            </div>
            <div class="content">
                <div>
                    <div>
                      <div class="chart2">
                          <canvas baseChart height="200px"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                  </div>
          
              <div class="footer">
                <div class="legend">
                  <span *ngFor="let item of legendItems">
                    <!-- <i [ngClass]="item.imageClass" [ngStyle]="{'color': item.color}"></i> {{ item.title }} -->
                  </span>
                </div>
                <hr>
                <div class="stats">
                  <i [ngClass]="footerIconClassPie" (click)="updateLine()"></i> {{ footerTextPie }}
                </div>
              </div>
            </div>
          </div>

    </div>

  </div>
<!-- 
  <div class="row">
    <div class="col-md-12" [@card2014sales]>
      <lbd-chart
        [title]="'2014 Sales'"
        [subtitle]="'All products including Taxes'"
        [chartType]="activityChartType"
        [chartData]="activityChartData"
        [chartOptions]="activityChartOptions"
        [chartResponsive]="activityChartResponsive"
        [legendItems]="activityChartLegendItems"
        [footerIconClass]="'fa fa-check'"
        [footerText]="'Data information certified'">
      </lbd-chart>
    </div> -->

    <!-- <div class="col-md-6" [@cardtasks]>
      <lbd-task-list
        [title]="'Tasks'"
        [subtitle]="'Backend development'"
        [tasks]="tasks"
        [footerIconClass]="'fa fa-history'"
        [footerText]="'Updated 3 minutes ago'">
      </lbd-task-list>
    </div> -->
  <!-- </div> -->

</div>
