/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.check-success{
    position: absolute;
    margin-left: 10px;
    /* color: darkgreen; */
    font-size: 24px;
    font-weight: 800;
}

.check-error{
    position: absolute;
    margin-left: 10px;
    /* color: darkred; */
    font-size: 24px;
    font-weight: 800;
    }

    
.user-plans > .modal-dialog{
    width: 960px !important;
}